html {
  height: 100%;
  width: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}
#H1 {
  display: flex;
  align-items: center;
}
img {
  width: 350px;
  height: 550px;
  margin: 20px;
}

body {
  background-image: url("images/theater.webp");
  background-color: #cccccc;
  color: bisque;
  cursor: url("images/popcorncursor.png"), auto;
  min-height: 100%;
  min-width: 100%;
}
